pre { margin-bottom: 1em; }

.basic
{
    border: 1px solid #CCCCCC;
    width: auto;
    background-color: #FFFFFF;
}
.basic div {
	background-color: #FFFFFF;
	padding: 8px;
}

.basic p {
	margin-bottom : 10px;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	margin: 0px;
	padding: 10px;
}

.basic h3
{
    cursor: pointer;
    display: block;
    padding: 5px;
    margin: 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    color: #666666;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #999999;
    border-top-color: #FFFFFF;
    border-bottom-color: #999999;
    background-image: url("./../Images/tab_bg_1_up.png");
    /*background-image: url("/Modules/CuyAccordion/Images/tab_bg_1_up.png");*/
}
.basic h3:hover {
	background-image: url("./../Images/tab_bg_1_over.png");
	/*background-image: url("/Modules/CuyAccordion/Images/tab_bg_1_over.png");*/
}
.basic h3.ui-state-focus {
	background-image: url("./../Images/tab_bg_1_selected.png");
	color: #FFFFFF;
	/*background-image: url("/Modules/CuyAccordion/Images/tab_bg_1_selected.png");*/
}